body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(45deg, rgb(226, 226, 226), rgb(240, 240, 240), rgb(184, 247, 231));
    animation: gradient 7s ease infinite;
    background-size: 200% 200%;
    display: flex;
    justify-content: center;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.bar{
    width: 80%;
    height: 80px;
    background-color: black;
    position: fixed;
    top: 0px;
    border-radius: 0px 0px 30px 30px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.amarelow{
    width: 100px;
    height: 300px;
    background-color: yellow;
    position: absolute;
    left: 290px;
    top: -220px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.opcao1{
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: semi-condensed;
}
.opcao1:hover{
    font-size: 20px;
}
.opcao2{
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: semi-condensed;
    color: aliceblue;
}
.opcao2:hover{
    font-size: 25px;
}
.deslizar{
    animation: descer 5s;
}
@keyframes descer {
    0% {
        top: -220px;
        }
    100%{
        top: 90px;
    }
}