body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(45deg, rgb(226, 226, 226), rgb(240, 240, 240), rgb(184, 247, 231));
    animation: gradient 7s ease infinite;
    background-size: 200% 200%;
    display: flex;
    justify-content: center;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.bar{
    width: 80%;
    height: 120px;
    background-color: black;
    position: fixed;
    top: 0px;
    border-radius: 0px 0px 30px 30px;
}
.amarelow{
    width: 150px;
    height: 400px;
    background-color: yellow;
    position: absolute;
    left: 300px;
    top: 200px;
}